@charset "ISO-8859-1";

html {
	text-color: #fff;
}

.header {
	padding: 0;
	margin: -10px 0px 0px -10px;
	border: none;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.header li a {
	float: left;
	padding: 14px 16px;
	text-align: center;
	color: white;
	text-decoration: none
}

.header li a:hover {
	background-color: #111;
}

.active a {
	background-color: #4CAF50;
}

.header .active a:hover {
	background-color: #23d843;
}