<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TakeYourCar</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <!-- DEFINISCO LE SERVLET -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>control.UploadServlet</servlet-class>
    <!-- DEFINISCO L'UPLOAD SERVLET -->
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/admin/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>control.ImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>VeicoliServlet</servlet-name>
    <servlet-class>control.VeicoliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeicoliServlet</servlet-name>
    <url-pattern>/admin/veicoli</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>control.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>control.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>control.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/admin/utente</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>control.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UtentiAdmin</servlet-name>
    <servlet-class>control.UtentiAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtentiAdmin</servlet-name>
    <url-pattern>/admin/utentiAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EntrateServlet</servlet-name>
    <servlet-class>control.EntrateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntrateServlet</servlet-name>
    <url-pattern>/admin/entrate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MarcaServlet</servlet-name>
    <servlet-class>control.MarcaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcaServlet</servlet-name>
    <url-pattern>/admin/marca</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditVeicolo</servlet-name>
    <servlet-class>control.EditVeicolo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditVeicolo</servlet-name>
    <url-pattern>/admin/veicolo</url-pattern>
  </servlet-mapping>
  
  <!-- DEFINISCO I FILTRI -->
  <filter>
    <filter-name>JspFilter</filter-name>
    <filter-class>filtri.JspFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filtri.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/home/*</url-pattern>
    <url-pattern>/img</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filtri.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  
  <context-param>
    <param-name>URL</param-name>
    <param-value>/TakeYourCar/</param-value>
  </context-param>
  
  <context-param>
    <param-name>KEY</param-name>
    <param-value>TakeYourCarKey12345</param-value>
  </context-param>
</web-app>